[2021-12-07 16:33] osjessicaju opened #2 "Onboard NFT.kred as our first partner"
- [ ] Work with NFT.kred on setting up they'll need the URL and readMe and auth token
- [ ] Diagnose issues that come up

[2021-12-07 18:58] salomevakhtangadze opened #3 "Add unsubscribe option to our sdk"

[2021-12-21 19:18] osjessicaju opened #5 "Bid/Offer events - SDK code changes"
- [ ] add (2) new event types to sdk
- [ ] add types to support the new callback and payloads

[2021-12-22 21:58] salomevakhtangadze opened #7 "Add item cancelled event in sdk"

[2022-03-04 08:10] #3 closed, assigned to nobody

[2022-03-04 12:43] renovate opened #12 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/ProjectOpenSea/stream-js).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## PR

[2022-03-23 03:58] #2 closed, assigned to nobody

[2022-03-23 03:58] #5 closed, assigned to osjessicaju

[2022-04-18 15:52] #7 closed, assigned to nobody

[2022-04-19 15:10] michael-cohen-io opened #45 "Rename Pushed Updates repos / documentation to OpenSea Streaming API"

[2022-04-19 22:20] #45 closed, assigned to michael-cohen-io

[2022-04-19 23:08] michael-cohen-io opened #47 "Clean up logging in opensea-stream-js-sdk"
Make logging a configuration variable that can be passed into the Client at construction time

[2022-04-20 20:13] #47 closed, assigned to michael-cohen-io

[2022-04-21 22:03] michael-cohen-io opened #51 "Update README for opensea-stream-js-sdk to include endpoint information, keys, supported chains + events"

[2022-04-21 22:04] michael-cohen-io opened #52 "Integrate JSD SDK README into docs.opensea"

[2022-04-21 22:11] #51 closed, assigned to michael-cohen-io

[2022-04-21 22:17] #52 closed, assigned to michael-cohen-io

[2022-04-27 19:22] michael-cohen-eth opened #63 "[Bug] SDK couldn't be installed as a submodule"
Context from partner attempting to add SDK to their repo:
[code]

[2022-05-05 10:18] rollue opened #76 "Is this ready for production use?"
Hi, I've been looking at this library and it looks promising.
Is it ready for production use yet?
I've given it a tentative try to set it up but it doesn't seem to work well - maybe there's something missing from the documentation for installation?

[2022-05-06 03:01] ceobitch opened #82 "Can we only subscribe to collection event data?"
Hey Guys,

This repo is amazing by far. Very happy you guys made this. Only problem is , I don't see any options to subscribe to wallet addresses events?

If their any wya we can subscribe to wallet address else besides collections?

[2022-05-06 03:03] richApplea opened #83 "TypeError: Cannot read properties of undefined (reading 'WebSocket')"
just followed the instruction.

npm install @opensea/stream-js
install --save-dev @types/phoenix

then try to construct a OpenseaStreamClient and will encounter this issue.

C:\portfolioProgram\nodejs\node_modules\phoenix\priv\static\phoenix.cjs.js:781
    this.transport = opts.transport || global.WebSocket || LongPoll;
                                              ^
TypeError: Cannot read propert

[2022-05-06 03:08] shryder commented on #83
Having same issue

[2022-05-06 03:36] kunnan97 commented on #83
having the same issue, however tried it on a react/browser setting, it worked

[2022-05-06 03:41] richApplea commented on #83
is it react/browser setting issue? what did you modify?

[2022-05-06 03:46] kunnan97 commented on #83
Did not modify anything, was trying on nodejs but got the same error, tried it on create-react-app and it worked

[2022-05-06 04:20] juush commented on #83
having similar issue :(

[2022-05-06 04:34] juush commented on #83
You need to
npm i ws
then import WebSocket

add
[code]
const {WebSocket} = require('ws')

const wsClient = new OpenSeaStreamClient({
    network: Network.MAINNET,
    apiUrl: "wss://stream.openseabeta.com/socket",
    token: osKey,
    onError: console.error,
    connectOptions: {
        transport: WebSocket,
    },
})
[code]

[2022-05-06 05:47] shryder opened #85 "Sell signature is not included in item_listed payloads"
Hello, can you guys add order signatures to the `item_listed` payloads? Otherwise we'd have to send an extra http request to fetch it.

[2022-05-06 08:33] AeroXi opened #86 "SyntaxError: Named export 'OpenSeaStreamClient' not found."
I installed the dependency and copied the code as in README:
`import { OpenSeaStreamClient } from '@opensea/stream-js';`
I got:
[code]
I tried to add   "type": "module" in package.json but it didn't work

[2022-05-06 09:47] ludovitkapusta opened #87 "Not possible to install package on node versions higher then 16.11.0"
"We recommend switching to Node.js version 16 to make sure common crypto dependencies work. Our minimum supported version is 16.11.0."

16.11.0 is not minimum supported, its enforced

when trying to install it with 16.13.0 it is not working

you can change your package.json file to support minimal version

[code]

[2022-05-06 13:59] AeroXi commented on #86
fixed in https://github.com/ProjectOpenSea/stream-js/pull/89

[2022-05-06 16:01] QuitCrypto opened #91 "Add collection name to the listing event"
Currently have to keep an internal mapping of `slug => name`, which requires a series of calls to the polling API to build.  Would be nice for that data to live in the payload for listings.

[2022-05-06 16:03] QuitCrypto opened #92 "Add traits to listing API"
This is a nit since the old events endpoint didn't serve traits either, but it would be really nice to include traits in the listing payload.  As it stands, I make a separate call to the `assets` endpoint after receiving an event.  It would be great if I could bypass this step.

[2022-05-07 00:43] except commented on #85
Yep I was also looking to avoid extra network calls, would prefer all information needed to complete a transaction in the listing event.

[2022-05-07 06:37] Aterieur opened #97 "Cannot find module ... Please verify that the package.json has a valid "main" entry."
[code]
Any quick fix for this?

[2022-05-07 08:20] Meemaw commented on #97
Should be fixed on 0.0.18, can you check?

[2022-05-07 08:20] #87 closed

[2022-05-07 08:20] Meemaw commented on #87
Closing as this has been released.

[2022-05-07 08:21] Meemaw commented on #86
Can you try again on the latest version -- 0.0.18?

[2022-05-07 15:54] fmaduakor opened #99 "Missing events"
I have tested the stream with some collections. Unfortunately, a lot of events are missing. In my test ~60% less listing events are streamed compared to os activity dashboard of the collection

[2022-05-07 21:59] ludovitkapusta commented on #99
i was wondering if something like this maybe be real, so im really happy that someone tested this.

can be this confirmed by the devs?

[2022-05-07 22:41] QuitCrypto commented on #99
Confirming this issue. I am also receiving something like ~50% of events when connected to a stream.  Seems consistent whether I am subscribed to a single collection or several.

[2022-05-08 01:53] arnauddorgans opened #101 "Quantity issue on matic chain"
There is an issue with `quantity` on matic chain.
See in the following received event that `quantity` is equal to `57000000000000000000` which is definitely wrong and larger than an Int64

[code]

an other example for `item_listed` with quantity equals to `11000000000000000000`

[code]

[2022-05-08 05:28] ryanio opened #102 "A few noticed issues and wishlist items"
I am working on upgrading my [opensea-activity-bot](https://github.com/ryanio/opensea-activity-bot) to use this new API. It's great and the types are nice to have, thank you!

I wanted to suggest a few things I felt missing as I was going:

* In the `Account` type, include `username` if available
* `ItemListedEventPayload` include `end_price` if `auction_type` is `dutch`
  * (right now all `ItemLi

[2022-05-10 12:06] ZiHengLee opened #107 "Can this only use the sdk provided by you?"
can we use stream api by golang?
Maybe the documentation can be improved a little bit for other language users, I hope to get your reply, thank you

[2022-05-10 16:17] rjbks commented on #99
@fmaduakor @QuitCrypto

How did you measure this?

[2022-05-12 06:19] wong2 commented on #86
0.0.18 still doesn't work. I'm using ESM with `.mjs` file extension.

[2022-05-12 12:57] tino-web commented on #99
Having the same issue here. Only half of the listing events are streamed...

[2022-05-12 14:01] arnauddorgans commented on #107
Edit: You can find the first version of the SDK here: https://github.com/arnauddorgans/OpenSeaSwift

[2022-05-12 17:00] HuHa opened #111 "May I subscribe event only be interested in?"
It's possible to filter event type not on the client but on the server? Having 90+% bid and offer events I'm not interested in, not only burst traffic and also wastes CPU, memory, IO, etc.

[2022-05-13 00:34] shea851 commented on #99
Same issue here. Missing a lot of events. Seems like a pretty big issue.

Would a project dev please acknowledge the issue? Thank you.

[2022-05-13 03:40] ZiHengLee opened #112 "can opensea official reply an collection stream api?"
aha

[2022-05-13 03:41] ZiHengLee commented on #112
we need  update collection stats frequently，thanks official

[2022-05-14 16:59] AeroXi opened #113 "Is it safe to put api key in front end code? What's the best practice for using it in browser"

[2022-05-14 23:05] rjbks commented on #99
@QuitCrypto It would be helpful if we had a reproducible example. Can you share the code you used to show missing events?

[2022-05-16 04:09] rohfle commented on #99
reproducible example
https://github.com/rohfle/osstream-issue-99

- polls events api using fetch
- captures events from @opensea/stream-js
- keeps a running list of api only events, stream-js only events, and events seen by both api and stream-js

Example output:
[code]
I let it run for a few minutes - there were 23 api only events not seen on the stream-js api
[code]

[2022-05-16 07:10] liyawawa opened #115 "The Info log shows Successfully joined channel "collection:*",But there is no data push"
<img width="790" alt="image" src="https://user-images.githubusercontent.com/20918902/168538167-bc22a238-85f3-47d0-bed4-1d1137704864.png">

[2022-05-16 12:11] fmaduakor commented on #113
The api key should not be extractable for third parties, otherwise other people might use your key and it could get blocked (key sharing is not allowed).
Try to set up a system where your key cannot be used by third parties (e.g. send requests through your backend)

[2022-05-17 14:52] wei-dai opened #117 "how to connect wss://stream.openseabeta.com/socket using python websocket?"
I am not very good at js, I want to connect wss://stream.openseabeta.com/socket using python, but I always get 404 error when try to connect wss://stream.openseabeta.com/socket. Is there any tutorial on using python?

Thanks in advance!

[2022-05-17 16:27] rick-rheo opened #118 "Can't connect to testnet"
With code

[code]

I get

[code]

with the actual code I get  [ERROR} : [object, Object]    but I modified the code to write out  e.message

Connecting to MAINNET seems to work though I can't verify since we don't have anything live there yet.

[2022-05-17 18:53] steddyman commented on #99
Seeing the same issue with other collections too.  Do the devs have an update on this please?

[2022-05-18 06:36] ZiHengLee commented on #99
have u soveld this issue?i encountered the same problem

[2022-05-18 14:12] rohfle commented on #117
try `wss://stream.openseabeta.com/socket/websocket?token=API_TOKEN&vsn=2.0.0`
references:
https://github.com/phoenixframework/phoenix/blob/master/assets/js/phoenix/socket.js#L144
https://github.com/phoenixframework/phoenix/blob/master/assets/js/phoenix/socket.js#L176

example code
[code]

[2022-05-18 14:44] #117 closed

[2022-05-18 15:08] lllapland commented on #118
Same here.

[2022-05-18 15:40] rohfle commented on #118
You don't need the API key for the testnet APIs
See this announcement from 2 days ago https://docs.opensea.io/changelog/testnets-api-no-longer-requires-an-api-key

[2022-05-18 15:57] rick-rheo commented on #118
@rohfle   still fails with no api key  (as specified in the original report)

[2022-05-18 17:10] wei-dai commented on #99
same issue using python, the list events is missing a lot, any updates?

[2022-05-18 18:10] rjbks commented on #99
@rohfle Thanks for that example. Maybe I'm missing something here but isn't this example very dependent on sample time? What if events are disseminated at different times for REST and WS APIs? So event A gets published at 12:00 EST on the REST API but 2 minutes later on the WS API, making them essentially the same but staggered so any comparison from a fixed point in time will look like they're di

[2022-05-18 18:16] QuitCrypto commented on #99
In my experience, events were either simultaneously published to both, or they never came through on the steam API at all.  My stream ran for hours, so I do not think that it was simply a delay.

Very easily reproducible by running a stream for a collection over X time and logging all events, then comparing the log to recent listings on the collection's page.  You should see the discrepencies.

[2022-05-18 22:53] rohfle commented on #99
Thanks for getting back to me. Its a good question.

Firstly, the REST API is supposed to be slower than the WS API. If the WS API is lagging the REST API by two minutes something is _terribly_ wrong, and people will just poll the server instead.

The example keeps track of events that it hasnt seen on both APIs,  and matches them even if the event comes through one API at a much later date. When

[2022-05-19 09:47] fmaduakor commented on #99
no solution yet. sticking to REST until it gets fixed.

[2022-05-19 15:01] meixianjie commented on #118
Same here

[2022-05-20 11:27] laubsauger commented on #118
Fails with and without API key in `token` field.

[2022-05-20 14:59] edgework opened #119 "This doesn't scale."
I guess this thing is cool for creators who run a single instance of their server/app on a Heroku instance but for larger organizations (like the one I'm working for) that run multiple instances of the same server in scaling groups in various datacenters the stream-api is an unworkable nightmare.   How do we reconcile the message when it's received 100 or 1000 times across 3 data centers?  What if

[2022-05-20 15:00] edgework commented on #76
This is far from ready. Its based on some really bad engineering choices. You should probably give up on it.

[2022-05-21 18:29] risingsun007 commented on #119
Why are websockets a bad idea?

[2022-05-21 19:00] rick-rheo commented on #119
As I said, this works fine if you have one server running in Heroku or something.  When you're a large company running many instances of the server in a scaling group you've got many websocket connections all getting the same message. How do you reconcile that? Do you update the local database with the same data 50, 100, 1000 times (once for each server)?

Second, for the kinds of events you would

[2022-05-21 19:02] edgework commented on #119
As I said, this works fine if you have one server running in Heroku or something.  When you're a large company running many instances of the server in a scaling group you've got many websocket connections all getting the same message. How do you reconcile that? Do you update the local database with the same data 50, 100, 1000 times (once for each server)?

Second, for the kinds of events you would

[2022-05-21 19:04] risingsun007 commented on #119
The websocket seems to miss some messages

[2022-05-21 19:32] rjbks commented on #119
@edgework why would you run multiple instances of this to receive and write the same events? Sounds like you're trying to scale a highly coupled monolithic app. Your solution, essentially asking OS to do some message routing on your behalf, wouldn't "solve" the problems you've mentioned anyway.

[2022-05-21 19:34] risingsun007 commented on #119
Why does the websocket miss events?

[2022-05-21 19:37] edgework commented on #119
My solution is used by almost every major provider of anything. It's a tried and true architecture.  PayPal, Twilio, Stripe, Square, Amazon Storefront etc. etc. etc.   My solution is a whole lot easier for both Open Sea and its clients. They would be doing less work.   No large organization runs one of anything, there's redundancy, scaling and geolocation considerations.  And in my case, no, its n

[2022-05-21 19:56] rjbks commented on #99
@rohfle There's a few issues with your test code that may explain why you're seeing some of these difference. Let's start on line 82, the response doesn't have an after key, its "next". But even if you had checked for "next" it still poses a problem. First, the /events REST API, is really an events history API. This is important when considering the direction in which "next" points and the order i

[2022-05-22 00:17] rohfle commented on #99
Thanks for the feedback, I have updated the repro with changes. Heres my response:

Sorry you are right, I don't know where I got `after` from... probably the same time I thought that the response was ascending order. It wouldn't make a difference until you got past the first page of 20 events - I only did short runs. Anyway, the issues have been fixed on my end now I'm pretty sure. You might want

[2022-05-22 00:56] rohfle commented on #119
If you have downtime and miss events via websockets, you can always grab event listings from the REST API for the downtime period and then process the ones you havent seen.

I've seen you talk about using webhooks, but these don't guarantee deliverability either, after some time the sender will delete messages it can't deliver.

Considering you are supposedly working at scale, if its such a big is

[2022-05-22 01:15] edgework commented on #119
I'm not talking about long downtime, just those situations that come up now and then when the load balancer is reset or switched over; like 15 seconds maybe. Webhooks work great, most providers use them and they don't require a hack to get them to work.   And its pretty rare for messages to get dropped with a proper Webhook implementation.  I started up an old server once that interfaced Twilio an

[2022-05-22 03:56] minerminer4949 commented on #119
kafka?
stream api -> kafka -> all your servers.

[2022-05-22 04:32] edgework commented on #119
Another workaround that requires more dev ops to maintain it.   And again, no organization runs one instance of anything so you're throwing multiple instancex of the same event into kafka and still need to deal with reconciling them.  I'm not even going to mention the hissy fit dev-ops will have when you want to throw a Java app at them.

[2022-05-22 04:37] minerminer4949 commented on #119
You're a fudder, plain and simple. Your comment about kafka reveals you have no idea how it works or how to scale apps.
gn ser.

[2022-05-22 04:55] edgework commented on #119
Maybe not but it's just yet another thing that needs to add complexity and management and cost  when simple WebHooks like everyone else  uses bypasses the need to even waste engineering resources to get up to speed and implement kafaka or whatever.  ...and when you're in an environment what does not use Java you're not going to get a Java app on it just to deal with a bad engineering decision, wha

[2022-05-22 07:40] hubba-bubba-776 commented on #117
Im getting 403 error for some reason

[2022-05-22 20:09] risingsun007 commented on #99
I noticed missing events too

[2022-05-23 03:23] xrmzju opened #122 "tried to use stream-api in golang but handshake failed"
i tried to use opensea stream-api in golang through the a stand implemention of websocket protocal (https://github.com/gorilla/websocket), but got `handshake error`.  i digged into the response and found the server returned 404 not found to the upgrade request, does opensea stream api server not implement in standard websocket?  or should i try socket.io?

here is my example code
[code]

[2022-05-23 06:53] rohfle commented on #122
stream-js is built on top of [phoenix](https://github.com/phoenixframework/phoenix/tree/33a72c8fb9c9fcd36de4ccfe6f6a5abba4b6609c/assets/js/phoenix), which implements a protocol with its own quirks (heartbeat, channel joining etc)

You might want to use an existing Phoenix Channels library for go like:
https://github.com/nshafer/phx

If you want to roll your own still, see https://github.com/Projec

[2022-05-23 09:21] xrmzju commented on #122
thank you very much for your detailed explanation,i'll give it a try later

[2022-05-23 15:43] ethangao commented on #99
same issue here.
Any progress on this bug?

[2022-05-23 15:58] risingsun007 commented on #99
I have noticed a lot of bugs.

[2022-05-23 17:58] codersmith commented on #99
Seeing many missed listings on the `onItemListed` Stream API.

Comparing to other listings notifications services or just monitoring a single collection page and manually refreshing.

[2022-05-23 18:38] esteban-OpenSea commented on #99
Can you clarify a bit more when you say you are missing a certain percentage of accuracy from the Stream?

[2022-05-24 01:31] rohfle commented on #99
gregarious-moving-monkey-bet event misses over a three hour period
![image](https://user-images.githubusercontent.com/21077341/169929722-d8062ae9-3ab6-4245-b18b-2e2ad0a45986.png)

goblintownwtf event misses approximately over the same three hour period
![image](https://user-images.githubusercontent.com/21077341/169929877-129f021d-2376-449b-a136-e32a0ebb6400.png)

source
[20220524_goblintownwtf.csv

[2022-05-24 02:23] nftsupply commented on #99
running into this issue as well, going to use REST for now

[2022-05-25 17:49] esteban-OpenSea commented on #99
Is the main issue just with the listing events? Are the other ones accurate?

[2022-05-25 21:27] rohfle commented on #99
I just did a short test for a minute for Sales - There were no events missing from the Stream API compared to the REST API

[2022-05-25 23:40] Trontor commented on #119
How would webhooks solve your issue? Websockets are very performant and designed for multiplex high frequency delivery, what more can you ask for?

[2022-05-26 00:41] edgework commented on #119
@Trontor Read the issue.

[2022-05-26 04:00] Trontor commented on #119
Your initial problem was "How do we reconcile the message when it's received 100 or 1000 times across 3 data centers? "

How does Webhooks solve this? You'll still receive the message across multiple data centers through the webhook?

[2022-05-26 14:01] rick-rheo commented on #119
@Trontor   A load balancer would take the request and route it to only one server, like any other web request.

[2022-05-26 14:09] rossgardt commented on #118
Having the same issue here 😕

[2022-05-26 14:55] Trontor commented on #119
@edgework so the data will enter a central point and it'll be redirected to the right server?

[2022-05-26 14:57] edgework commented on #119
@Trontor It will be redirected to the next available server yeah.

https://www.nginx.com/resources/glossary/round-robin-load-balancing/

[2022-05-26 15:56] Trontor commented on #119
@edgework I'm aware what load balancing is. How exactly would you implement that for a Web hook?

[2022-05-26 16:20] Trontor commented on #119
@edgework RFC 6455 states that WebSocket "is designed to work over HTTP ports 443 and 80 as well as to support HTTP proxies and intermediaries", thus making it compatible with HTTP. 

[2022-05-26 16:25] edgework commented on #119
A web socket is initiated from the client (in this case the server that needs events from OpenSea).  So yes a websocket will go though the Load Balancer (and keep a port constantly open which is wasting a resource) and each server instance will be creating a websocket since properly designed scalable servers have no state whatsoever and know absolutely nothing about any other instance running.  An

[2022-05-26 16:39] edgework commented on #119
In a scaling environment I should be able to set up a load balancer and one or more servers behind it that have the same exact behavior and operate completely independently. The application (load balancer and servers) behavior should be exactly the same if there's one server or one thousand servers.

What you're talking about is some additional layer (application) to open fewer  Web Sockets and fe

[2022-05-26 16:45] Trontor commented on #119
@edgework take Blocknative for example: https://www.blocknative.com/

this does the same thing. sends many events through a websocket. do you think that Blocknative is dumb as bricks for building their entire application on websockets? or perhaps, you're thinking about scalability incorrectly!

[2022-05-26 16:57] edgework commented on #119
@Trontor Blocknative is a completely different use case.

[2022-05-26 17:45] esteban-OpenSea commented on #99
Thanks for the update! Can the other devs running into this issue confirm that there are no longer any events missing?

[2022-05-26 17:48] codersmith commented on #99
I believe @rohfle's points was specifically to your question regarding Sales -- there are no missing Sales events.

But there are definitely still missing **Listings** events.

[2022-05-26 17:52] esteban-OpenSea commented on #99
So is the main issue just with Listings? Also, @codersmith , can you send me steps so I can repro? I've been testing with Listings and it's been working for me so far. Any info you can provide me with would be fantastic!

[2022-05-26 17:57] codersmith commented on #99
I think @rohfle provided steps to reproduce already, but here is how I observe the problem:

I have two bots configured for the same collection:
- a boto.io discord bot configured to monitor listings for a collection
- my own bot implemented using the OS Stream API

I get more Listings alerts via the boto.io bot vs. my own. I assume this is because they are polling the **/events** endpoint vs subs

[2022-05-26 21:29] rohfle commented on #99
@esteban-OpenSea while my previous comment was just about Sales, I have retested this now with Listings and all REST API events are seen on Stream API. It looks like the problem has been resolved.

![image](https://user-images.githubusercontent.com/21077341/170583066-da07bf1e-1f9e-4a02-894f-24dde34266fe.png)

@esteban-OpenSea  what was wrong, and how did you fix it?

[2022-05-26 21:53] steddyman commented on #99
Can you please confirm what the resolution was?  Has there been a code fix I need to pull, or was the resolution a backend fix?

[2022-05-26 21:54] codersmith commented on #99
I have still been experiencing this issue throughout the day today. Sometimes, they do match more closely between Stream and /events, but it is definitely not resolved.

Agree with @steddyman that would like to understand what fix has been deployed to address the problem.

[2022-05-26 22:01] steddyman opened #126 "Missing order transaction details"
The details returned from the streaming API when monitoring for onItemListedEvents does not return any information that can be used to place a buy order.  There are is no order hash included or any of the other details that can be used to directly locate the corresponding order.

[2022-05-26 22:20] rohfle commented on #99
If other people are still having this issue, I will test the top 5 collections for 30 mins and report the graphs

[2022-05-26 22:40] codersmith commented on #99
Thanks -- your test client is awesome

[2022-05-26 23:24] rohfle commented on #99
Not the top 5, but 7 random collections i pulled out of the activity log

**Comments:**
- Stream only events is not zero and thats because the REST API had errors for several minutes, which is not handled properly in my repro
- API only events are close to zero (which shows the problem is solved). The fact that they are not zero is because of how my code works when it starts, so it is my implement

[2022-05-30 04:42] HappySprinkles opened #128 "Streaming multiple events does not work"
The supplied code for streaming multiple events does not work it results in the following error: ReferenceError: EventType is not defined
The supplied code is
`client.onEvents(
  '*',
  [EventType.ITEM_RECEIVED_OFFER, EventType.ITEM_TRANSFERRED],
  (event) => {
    console.log(event)
  }
);`

[2022-05-30 15:13] ntop001 opened #129 "Ethereum only"
When set `collection:*` it receives all the events from etheruem/polygon/solana, How can we get only events from etheruem? I don't want to filter these events in the client, Since it's too much data, and almost used up my bandwidth.

[2022-05-30 15:34] ntop001 commented on #129
And I also found that the `event_type` just filter events at the client side,  it's receiving all the  listings/offers/transfers/solds , and most of them maybe useless if I wanna only listings or transfers.

[2022-05-31 07:38] FighterAircraft commented on #118
Having the same issue here

[2022-06-01 18:08] ninjasploit commented on #118
We're all in the same boat!

[2022-06-01 18:32] esteban-OpenSea commented on #99
Thank you everyone for the updates! We've fixed some underlying issues that we believe have resolved this particular problem. Feel free to re-open if the issue returns.

[2022-06-01 18:32] #99 closed

[2022-06-01 20:26] rick-rheo commented on #118
I'm pretty sure this is a dead project. There's no recent commits and absolutely no response to any recent issues from anyone at OpenSea.

[2022-06-02 01:43] ethangao commented on #99
Well done! Happy to see this issue being solved in such short time.

[2022-06-02 01:51] ethangao commented on #126
Yep.
Include order details in streaming API would be much better. Right now, we have to loop rest API to get order details, which makes stream API not that useful.

[2022-06-02 02:17] itsthedoom commented on #129
@ntop001 did you have a chance to review [Connecting & Subscribing to Events ](https://docs.opensea.io/reference/stream-api-overview#connecting--subscribing-to-events ) Each subscription function includes a collectionSlug parameter which can be used to subscribe to an event from a specific collection.

[2022-06-02 02:17] #129 closed

[2022-06-02 02:31] itsthedoom commented on #128
@HappySprinkles is [Streaming multiple event types](https://github.com/ProjectOpenSea/stream-js#streaming-multiple-event-types) still not working for you?

[code]

[2022-06-02 02:31] #128 closed

[2022-06-02 15:45] codersmith commented on #99
Also seeing a lot more consistency from the stream connection. Will keep an eye on it, but is definitely a huge improvement.

[2022-06-02 15:48] steddyman commented on #126
This has nothing to do with the Missing Events issue.

This is a request to include the order dtails in the onItemListedEvents stream.  Please re-open this ticket.

[2022-06-02 15:49] steddyman commented on #126
@itsthedoom

[2022-06-03 18:08] steddyman opened #135 "New Feature Request - Order Transaction details"
Opening a new Issue because the last one was closed in error without a resolution.  Original details below:

The details returned from the streaming API when monitoring for onItemListedEvents does not return any information that can be used to identify or place a buy order. There are is no order hashes included or any of the other details that can be used to directly locate the corresponding order

[2022-06-03 18:32] itsthedoom commented on #135
@steddyman Thank you for the feedback; we will share this request with the team.

[2022-06-03 18:50] itsthedoom commented on #122
@xrmzju did @rohfle recommendations work for you?

[2022-06-05 02:19] itsthedoom commented on #119
Hello frens, A few items to surface and highlight:
- The Stream API is in beta [Stream API Overview (Beta)](https://docs.opensea.io/reference/stream-api-overview#connecting--subscribing-to-events)
- There was a period when we were missing events. This has been resolved. [Missing events #99](https://github.com/ProjectOpenSea/stream-js/issues/99)

We're looking to dive deeper with devs and builders

[2022-06-05 02:33] itsthedoom commented on #118
Are you still having issues connecting to testnet?
The following blockchains are supported on Testnet networks:

Rinkeby
Polygon testnet (Mumbai)
Klaytn testnet (Baobab)

Have you reviewed the [Stream API Overview (Beta) docs?](https://docs.opensea.io/reference/stream-api-overview).

If you are still running into issues can you please let me know?

[2022-06-05 02:43] itsthedoom commented on #113
@AeroXi, I concur with @fmaduakor
Additionally
Do not embed API keys directly in code. API keys that are embedded in code can be accidentally exposed to the public. For example, you may forget to remove the keys from code that you share. Instead of embedding your API keys in your applications, store them in environment variables or in files outside of your application's source tree.

Do not store

[2022-06-05 02:43] #113 closed

[2022-06-06 06:51] itsthedoom commented on #76
@rollue this is a beta version of the Stream API, a new websocket-based service that enables developers to receive events as they occur across our marketplace.

We’ve built the Stream API to support a range of use cases that rely on dynamic data, such as price fluctuation, listings, bids, and ownership changes. Instead of polling for updates, you subscribe to receive events as they occur.

Develop

[2022-06-06 06:51] #76 closed

[2022-06-06 07:03] itsthedoom commented on #82
Hey @ceobitch, Currently we are in beta and currently support the following event types on a per-collection basis:

item listed
item sold
item transferred
item metadata updates
item canceled
item received offer
item received bid

I've noted your request

 and will share it with the team.

[2022-06-06 07:11] itsthedoom commented on #92
@QuitCrypto Thank you for the feedback; I've shared it with the team. The Stream API is in beta; we will iterate and improve on it based on user feedback like yours.

[2022-06-06 10:37] neicras opened #136 "keep throwing [ERROR]: [object Object]"
Hi there,

I am following a few of your sample codes and each end up keep throwing "[ERROR]: [object Object]"

Code:
`client.onEvents(
    '*',
    [osstream.EventType.ITEM_LISTED, osstream.EventType.ITEM_RECEIVED_OFFER],
    (event) => {
        console.log(event)
    }
);`

<img width="292" alt="Screenshot 2022-06-06 at 6 36 58 PM" src="https://user-images.githubusercontent.com/33999550/17214543

[2022-06-06 22:02] itsthedoom commented on #119
@edgework Thank you for the feedback.

Would you mind summarizing the description in terms of action that we could take on this what is the biggest blocker you see?

If multiple issues, could break them out into separate issues in order to help make this more actionable for us.

[2022-06-07 00:34] edgework commented on #119
@itsthedoom   I think I stated the action and blockers in this issue more than once.

Implement Webhooks to send events to clients.  Its an industry standard for sending events across services.

[2022-06-07 01:07] itsthedoom commented on #136
@neicras are you testing on the MAINNET or TESTNET?
Can you provide a sample code and steps to help us reproduce this error?

[2022-06-07 01:11] itsthedoom commented on #115
@liyawawa are you still running into issues? Did you test subscribing to events?
[Connecting & Subscribing to Events ](https://docs.opensea.io/reference/stream-api-overview#connecting--subscribing-to-events)

The streaming rate depends on a range of factors - from the amount of collections that you’re monitoring to the type and amount of events that you’re subscribed to. For instance, if you’re su

[2022-06-07 01:17] itsthedoom commented on #112
@ZiHengLee can you share additional details on your blocker?
Please provide a sample code, and steps we can use to help reproduce your issue.

[2022-06-07 01:28] itsthedoom commented on #111
@HuHa confirming @rohfle response worked?
If not please let us know and we can reopen this issue.
Please note the API Stream is in Beta, we will be adding additional features in the future, please check the [changelog](https://docs.opensea.io/changelog)and repo for updates.

[2022-06-07 01:28] #111 closed

[2022-06-07 01:46] rohfle commented on #136
@neicras when you create the `OpenSeaStreamClient` instance, what function do you set for `onError` ?

I have:
[code]

[2022-06-07 02:55] neicras commented on #136
Cool. Just a simple piece of code like this:

const osstream = require('@opensea/stream-js');
const WebSocket = require('ws');

const client = new osstream.OpenSeaStreamClient({
    token: '***',
    connectOptions: {
        transport: WebSocket
    },
});

client.onEvents(
    '*',
    [osstream.EventType.ITEM_LISTED, osstream.EventType.ITEM_RECEIVED_OFFER],
    (event) => {
        console.log(

[2022-06-07 02:58] neicras commented on #136
Thanks. adding this line im getting below:

`    at WriteWrap.afterWrite [as oncomplete] (net.js:789:14) errno: 'EPROTO', code: 'EPROTO', syscall: 'write' }
write EPROTO 8635237888:error:1409442E:SSL routines:ssl3_read_bytes:tlsv1 alert protocol version:../deps/openssl/openssl/ssl/record/rec_layer_s3.c:1544:SSL alert number 70
 { Error: write EPROTO 8635237888:error:1409442E:SSL routines:ssl3_read

[2022-06-07 05:13] rohfle commented on #136
Looks like stream.openseabeta.com only supports TLS1.3

`openssl s_client -connect stream.openseabeta.com:443 -tls1_3` -- works ok
`openssl s_client -connect stream.openseabeta.com:443 -tls1_2` -- fails with alert number 70
`openssl s_client -connect stream.openseabeta.com:443 -tls1_1` -- fails with alert number 70

If you have openssl version older than 1.1.1 or node 12.x you will need to upgrade

[2022-06-07 08:06] neicras commented on #136
Thanks upgrading node fix the issue.

[2022-06-07 08:06] #136 closed

[2022-06-07 13:24] ninjasploit commented on #118
For anyone lucky enough to have an API key, you can use the opensea "mainnet" and play around with it there

[2022-06-07 18:50] mthler opened #137 "Add order_hash"
At the moment the item_received_offer and item_listed payloads missing the order_hash.

Without the order_hash the other events like item_cancelled / item_sold / ... are useless as you can't match any of the events to the offer or listing events.

[2022-06-07 22:28] mz- commented on #137
+1

[2022-06-08 00:00] ntop001 commented on #129
@itsthedoom Sir, if you want only ethereum events, you have to subscribe tens of thousands collections slugs, I don't think that's the right way to use collectionSlug params.

[2022-06-08 00:10] itsthedoom commented on #129
@ntop001 can you share your use case? You can also listen to specific events you're interested in e.g. [Streaming multiple event types ](https://github.com/ProjectOpenSea/stream-js#streaming-multiple-event-types)

[Streaming item listed events](https://github.com/ProjectOpenSea/stream-js#streaming-item-listed-events)
[code]

[Streaming item transferred events](https://github.com/ProjectOpenSea/str

[2022-06-08 01:03] ntop001 commented on #129
@itsthedoom My use case is to subscribe all the events and all the collections from Ethereum(not solana, not polygon).  I know there is one way to do this, just subscribe `collection:*` , but if you subscribe   `collection:*`, it'll also stream events from solana/polygon.  I also know that I can filter these events at client side, but It'll produces large amount of traffics and use up all my bandw

[2022-06-08 01:07] ntop001 commented on #129
@itsthedoom and obviously，use these code: `client.onItemListed('collection-slug', (event) => {` , you can only subscribe to  one collection, but what if you want to subscribe to all the collections from ethereum ??

[2022-06-08 02:53] itsthedoom commented on #129
@ntop001 got it; diving a little deeper, are you looking to subscribe to all collections or something more similar to the [Activity Feed](https://opensea.io/activity) or [Rankings Feed](https://opensea.io/rankings)?

[2022-06-08 12:45] tino-web commented on #118
Still the same problem here. Mainnet is nice, but you can't really test for example orders there...

[2022-06-08 12:49] Slers opened #138 "Error: Unexpected server response: 403"
The Stream API was working well until this morning, but since then I have received only 403 server responses.

Anyone else is experiencing this issue?

[2022-06-08 18:07] itsthedoom commented on #138
@Slers Thank you for sharing, we are currently investigating this issue. https://status.opensea.io/
Please check our Status page for updates https://status.opensea.io/

[2022-06-08 18:07] #138 closed

[2022-06-09 06:54] itsthedoom commented on #137
Thank you for surfacing, we will look into this.

[2022-06-09 07:01] itsthedoom commented on #122
Closing this issue. If the recommendations did not work please let me know.

[2022-06-09 07:01] #122 closed

[2022-06-09 08:52] foundVanting commented on #122
I followed rohfle advice and it work
https://github.com/foundVanting/opensea-stream-go
Welcome star！

[2022-06-09 22:42] itsthedoom commented on #107
Hello, @ZiHengLee did @arnauddorgans and @rohfle answers help?

[2022-06-09 22:43] itsthedoom commented on #102
Thank you @ryanio I will share this with the team.

[2022-06-09 23:03] itsthedoom commented on #101
@arnauddorgans Thank you for surfacing this. I will look into this, at first glance I am curious if it has to do with the fact that both of these have "Unlimited" Supply
https://opensea.io/assets/matic/0x22d5f9b75c524fec1d6619787e582644cd4d7422/209
https://opensea.io/assets/matic/0x22d5f9b75c524fec1d6619787e582644cd4d7422/602

Is this showing in other collections that are not [Sunflower Land Colle

[2022-06-09 23:29] itsthedoom commented on #91
@QuitCrypto Thank you for your feedback. To confirm you would like to see the collection name in the [listing payload](https://docs.opensea.io/reference/stream-api-event-schemas#item-listed-payload)?

[code]

[2022-06-09 23:36] itsthedoom commented on #86
@AeroXi are you still running into issues?

[2022-06-09 23:37] itsthedoom commented on #97
@Aterieur This should have been fixed, closing this issue. If you are still running into issues please let us know.

[2022-06-09 23:37] #97 closed

[2022-06-09 23:39] itsthedoom commented on #85
@shryder Thank you for the feedback/request. I will share it with the team.

[2022-06-09 23:45] itsthedoom commented on #83
We recommend switching to Node.js version 16 to make sure common crypto dependencies work. Our minimum supported version is 16.11.0.

Install this package with npm install @opensea/stream-js
NodeJS only: Install the WebSocket library with npm install ws
Install the required dev-dependency to use the Phoenix client for web socket connections npm install --save-dev @types/phoenix

Closing this issue

[2022-06-09 23:45] #83 closed

[2022-06-10 00:17] rohfle commented on #107
@ZiHengLee - foundVanting created an (untested by me) golang library to do this in #122  - see https://github.com/foundVanting/opensea-stream-go

[2022-06-14 06:37] xiaoliangxin commented on #118
I have the same problem, how can I solve it？？

[2022-06-15 16:57] fmaduakor commented on #129
Would be great to be able to subscribe to specific networks. I need to subscribe to all offer events on ethereum, but right now stream api creates alot of unnecessary traffic.

[2022-06-15 23:17] rohfle commented on #117
So to follow up on this, while my example above works, stream-js uses the Phoenix Channels protocol on top of websocket, which has its own quirks  (heartbeat, channel joining etc)

See related in golang https://github.com/ProjectOpenSea/stream-js/issues/122

There are a couple of existing Phoenix Channels libraries for python here, but I haven't tested them
https://github.com/supabase-community/re

[2022-06-16 09:17] nftdevabc opened #139 "Collection offers not being shown"
The stream-js websocket (from what I have been able to test) does not show offers that originated from the newly implemented collection offers. As a significant number of offers are beginning to originate from the collection offers, it is important that this data is accessible via the stream-js websocket.

However, practically speaking it does not make sense for a single collection offer to be rep

[2022-06-16 13:54] shea851 opened #140 "Does stream-js support seaport?"
Just wondering if this has been updated for seaport support, or if it only streams wyvern orders.  Thank you.

[2022-06-16 16:31] mar2194 commented on #119
I agree that webhooks would be better for organizations that operate a scalable infrastructure and want more fine-grained control over resource management. The main issue here is that a websocket requires a 24/7 connection. Many orgs have a scalable container architecture for receiving webhooks from APIs that shutdown or spin up as demand ebbs and flows.

To do what devs looking for a webhook solu

[2022-06-18 12:41] marvinkennis commented on #137
Just leaving a +1 here. Having the order hash is absolutely key. Thanks for investigating!

[2022-06-20 03:03] q303200649 opened #141 "have java JDK？"

[2022-06-20 08:51] metaglobal opened #142 "onItemCancelled:The execution contract method in the cancel order: incrementNonce, how is the message notified?"
hello,
The execution contract method in the cancel order: incrementNonce, how is the message notified?
If the holder actively calls the setApprovalForAll method to cancel the authorization, will there be a notification and is there a notification message format?

[2022-06-21 22:44] itsthedoom commented on #139
@nftdevabc there is no collection offers API support at this time. I will share your feedback with the team

[2022-06-21 22:47] itsthedoom commented on #141
@q303200649 We do not have a Java JDK, Stream is in beta. I will share your request with the team.

[2022-06-22 18:52] sheehan1102 commented on #85
Hello! Any updates on this?

[2022-06-24 11:36] kebian commented on #137
Totally agree.  The events stream is useless without the order hashes and I'd rather not go back to hammering the API endpoint to update order statuses.

[2022-06-24 14:54] alexejFroebel commented on #118
Any news?

[2022-06-24 15:29] shea851 opened #147 "Offers are only partially working"
Hi, it seems that through the stream API most offers are not showing.  I see some offers to the OS storefront address, but that's it.

It's really easy to confirm this. Stream offer events for a few seconds. You'll probably see nothing or a few come through for the OS storefront address.

Then hit the events REST API, you will see tons offers from the last second or so.

FYI, this is how I am subs

[2022-06-25 10:54] speakjan opened #150 "distinguish wyvern and seaport"
Does this distinguish between Wyvern and Seaport

[2022-06-25 13:34] the-emerald opened #151 "Better documentation on payloads"
In the documentation (https://docs.opensea.io/reference/stream-api-event-schemas), each event payload is given an example but not a detailed breakdown of every possible field, as well as their types.

It would be incredibly useful if you could clarify what possible values each field can have (e.g. can they be null?). Thanks!

[2022-06-26 13:05] kebian commented on #137
I'd also like to add that the cancellation event is double useless as it's also triggered when someone cancels a bid against the listing, making it impossible to tell if it was the listing that was cancelled or the bid.

[2022-06-29 07:14] foundVanting opened #154 "how to listen listing Cancel"
how to get this  listing cannel?
eg:
![image](https://user-images.githubusercontent.com/16233666/176374533-089fa90e-6260-4208-8132-fae07c0c45ef.png)

thanks

[2022-06-30 21:22] esteban-OpenSea commented on #118
An API key for Testnets is no longer required. If you want to use the API in Mainnet, an API key is required. If you don’t have an API key, [request one from us](https://docs.opensea.io/reference/request-an-api-key). This should fix the error you are running into.

https://docs.opensea.io/reference/stream-api-overview#:~:text=Do%20I%20need%20an%20API%20key%20for%20Mainnet%20and%20Testnet%20to%20us

[2022-06-30 21:22] #118 closed

[2022-06-30 21:39] rick-rheo commented on #118
You didn't read the bug or even try this.  I am NOT sending an API key.

[2022-06-30 21:46] esteban-OpenSea commented on #118
I used to get the same error message. Before we pushed out an update on this, you needed two different api keys. One for mainnet and one for testnet. You cannot use a mainnet api key when using testnets, vice versa. So this should fix the issue. Please try running now and let me know if you get the same error. If you continue having issues, we can troubleshoot it.

[2022-06-30 21:48] esteban-OpenSea commented on #118
Also, we encourage all devs to join our community of web3 builders on Discord https://discord.gg/opensea

[2022-07-01 06:50] shadmau commented on #139
Is there currently any other way in obtaining collection offers? (e.g. graphql?)

[2022-07-01 21:38] zpencerguy commented on #117
Would you be able to provide a short example snippet of code of how to subscribe to a channel using the Phoenix Channels protocol with python? Thanks 🙏

[2022-07-02 06:29] Cookiezzz commented on #91
I'd like to see it in all payloads. Listing, sale, bid. It saves an API call for getting the name.

[2022-07-02 16:26] shea851 commented on #147
Looked into this a bit more. It seems that the websocket is only broadcasting Wyvern offers.
Easy to confirm by hitting the v1.0/Wyvern offer events endpoint, and it lines up.

[2022-07-02 17:25] gleuch commented on #137
+1 Having the `order_hash` would also be useful for all events, especially `item_cancelled`.

[2022-07-03 03:46] thomasGithub15 opened #159 "[TypeError]: Right-hand side of 'instanceof' is not an object"
I am building the client in this way
[code]

The package.json is
[code]

My client invoke function:
[code]

I am receiving the error message when invoking client function

[code]

Sometimes I still receive events despite the error message, is there something wrong with my setup?

[2022-07-03 05:01] #159 closed

[2022-07-03 05:02] thomasGithub15 commented on #159
It looks like the dependency is incompatible with the next-js app template, resolved by creating a new app from scratch.

[2022-07-04 13:17] Cookiezzz opened #160 "TLS 1.2"
Can we turn on TLS 1.2 again for stream.openseabeta.com?

Having certain specific applications run on Windows are having issues with TLS 1.3.
It used to work fine but I assume something has been changed on your end.

streams.openseabeta.com only supporting TLS 1.3, no TLS 1.2 anymore!
https://www.ssllabs.com/ssltest/analyze.html?d=stream.openseabeta.com&s=104.18.0.63&hideResults=on

api.opensea.io

[2022-07-05 11:43] Cookiezzz commented on #91
In addition I believe the ImageURL sent over wss is the image_preview_url from the API.
The small version (s250 at the end)
Can we get both fields? I prefer larger images.

[2022-07-08 18:39] drinksbydrew commented on #91
Same here. I'd really like to get the collection name and full size image URL in the stream.

[2022-07-08 23:03] itsthedoom commented on #107
@the-emerald Nioce!!

[2022-07-09 01:21] matthieuoliveira commented on #117
@zpencerguy you come across a snippet yet?

[2022-07-09 12:22] rjbks commented on #117
I believe there is one in the docs now.

[2022-07-09 14:18] matthieuoliveira commented on #117
@rjbks are you referring to [this](https://docs.opensea.io/reference/using-stream-api-without-sdk) doc?

If so, when I connect to the server, I attempt to send the heartbeat and or collection subscription schema and receive error code 1011.

[2022-07-09 14:46] matthieuoliveira commented on #117
@rjbks Issue was using vsn=2.0.0 in my connection string
@zpencerguy I should be able to supply you with a snippet shortly

[2022-07-09 17:31] zpencerguy commented on #117
Thank you @matthieuoliveira, that will be super helpful!

[2022-07-12 03:14] STRsplit commented on #138
I think this should remain open - still receiving the error without a clear guide on how to bail from retries at connecting all of which result in continued 403

[2022-07-12 03:51] STRsplit commented on #138
Would like to keep this open as I'm still getting this error rather frequently. I was thinking there would be a way to bail, but after checking out the socket code from Phoenix it looks like the connection will continue to retry. Wondering if there's a way to abort the retries?

[2022-07-13 07:40] guillemcarrion commented on #137
This is the main blocker for us to start using ws endpoint. +1 on adding `order_hash`!

[2022-07-14 09:43] metaglobal commented on #150
It's probably all Seaport by now, didn't find Wyvern

[2022-07-14 09:47] metaglobal opened #165 "The test network does not support nft monitoring of the erc1155 standard. Hope to solve it"
The test network does not support nft monitoring of the erc1155 standard. Hope to solve it

[2022-07-18 19:26] isvidler commented on #147
+1 -- it's obvious that this is not working, which is a major blocker to development

[2022-07-21 15:43] i5possible commented on #135
Could we have the token id as well? Once the token is listed, we even don't know which one is listed.

[2022-07-25 13:48] heisenweb opened #170 "include order data in event payload"
please include order data in the event payload.
we need it in order to buy or accept an offer for an asset.

without those data, stream API is almost useless.

[2022-07-29 05:49] AnGrYxx opened #171 "Stream API Feedback / request for adding data points"
Hi OpenSea API Team,
I am using the stream API for syncing the history of sales, listings and cancelled listings.
I am missing some key data on the payload for cancelled listings https://docs.opensea.io/reference/stream-api-event-schemas#item-cancelled-payload: In case an NFT has multiple listings and there is a cancel event, the stream API does not give a reference to which of those listings is c

[2022-07-29 07:25] alexismoret commented on #171
Hi @AnGrYxx I have the same problem, but I also have this problem with the event endpoint of the Api, for the moment I cancel a listing by searching it by comparing "from_account", "quantity" and "price" but it's not a very accurate method.
What reference do you use in the "cancelled" event to find the concerned listing ?

[2022-08-02 01:12] qinzhaoyang opened #172 "The stream api suddenly disconnected and no exception was caught"
After the program has been running on the server for a period of time, suddenly no data can be monitored!

![image](https://user-images.githubusercontent.com/66238539/182270522-c5a88182-5508-4ef1-8e18-af7ef39ce8b4.png)

[2022-08-02 01:30] qinzhaoyang commented on #172
The following error occurred 80 minutes before the program was disconnected:
![image](https://user-images.githubusercontent.com/66238539/182272351-6b73e696-e883-4cdb-b67e-caf8e44cf06b.png)

[2022-08-08 09:10] anoruxylene commented on #137
+1 Provide `order_hash` 🙏

[2022-08-09 16:24] Webber455 commented on #172
Have this error been resolved?

[2022-08-12 23:46] sahil-ahuja-1 opened #174 "Offers not streaming"
Hello! I'm seeing that no offer events are being emitted from the offers endpoint. All other event types are working fine. Could you please advise? Thanks!!

[2022-08-17 13:07] jimmyverdoora opened #175 "errors not logging correctly"
OpenSeaStreamClient onError default in constructor is now:
[code]
should be changed to something like
[code]
otherwise will print [ERROR]: [object Object]

[2022-08-17 20:35] mstudda1 commented on #147
+1 Same issue

[2022-08-18 10:02] shiyouyuemu2 opened #176 "lose some data"
I find that opensea often loses some data, which can only be found through the API after a period of time. It seems that the historical missing data has been repaired, but the stream will always lose this part of data and will not push it when the data is supplemented.

[2022-08-29 16:24] jerempjerem commented on #107
Hi just made this in python https://github.com/jerempjerem/opensea-stream-py

[2022-08-31 09:36] #154 closed

[2022-09-01 12:08] anoruxylene commented on #137
`order_hash` has been added. You can see this in the example below.

[code]

[2022-09-01 12:24] alexismoret opened #184 "Add PaymentToken and Price in item_transferred for Mint"
Hi,

Is it possible to add the PaymentToken and the price fields in the ItemTransferredEvent ?
In case the transfer is a Mint I think that these fields are essential and it's already available in the OpenSea API in the /events route.

Thanks !

[2022-09-02 05:55] savva312 opened #185 "OS Stream limits"
Hey, this is not exactly an issue with the package but has to do with OS Stream limits.

1. Is there a limit on how many collections I can subscribe to with 1 API key? I see that we can use a wildcard as collection-slug but are there any limits or performance issues we need to take in consideration?
2. In case there is an outage to the service are the events queued up somewhere and then being send

[2022-09-06 15:19] buddylindsey commented on #185
From my experience for number 1 I currently subscribe to them all with a wild card, and a single instance manages them well. I immediately push the event into a queue for processing by other code so each action that is executed based on an event is minimal in resources.

I don't remember the numbers but when I was counting it was doing like 200,000 events in an hour during the day. That was over a

[2022-09-09 07:20] NakedKoala opened #186 "`item_received_offer` and `item_listed` events contain no information about the item. How to get item information from order hash ?"
Both `item_received_offer` and  `item_listed` contains no obvious identifier of which asset received listing / offer other than order_hash

The getOrder  SDK function require `asset_contract` and `token _id` parameter.

How does one go from event / `order_hash` to `token_id` and `asset_contract` ?

[2022-09-09 07:21] #186 closed

[2022-09-10 07:17] sirgarfieldc opened #187 "Few questions regarding streaming API"
1. Does `onItemListed` only stream  fixed-price listing ?  Can streamed listing contain auction ?   If yes, how can I tell the difference between fixed-price listing & auction ( `listing_type` is always null in the event ) . If no, how should I get streamed new auctions ?

2. is `onItemReceivedOffer` stream working ?  I set filter to "*" and receive 0 event over a hour.

3. What is the difference

[2022-09-20 02:35] wl506 commented on #137
`{
    "event_type": "item_cancelled",
    "payload": {
        "base_price": "2100000000000000000",
        "collection": {
            "slug": "beanzofficial"
        },
        "event_timestamp": "2022-09-20T02:31:59.000000+00:00",
        "expiration_date": null,
        "is_private": false,
        "item": {
            "chain": {
                "name": "ethereum"
            },

[2022-09-21 10:22] the-emerald opened #188 "Collection offers"
I recently noticed that the `collection_offer` event is being sent. Can we please get some documentation on that?

[2022-09-23 10:47] zengbing15 opened #191 "Did stream-js support Arbitrum?"
Hi， I noticed that Arbitrum was officially live on OpenSea today. but I found that the Stream API docs didn't update.
so did stream-js support Arbitrum?
![image](https://user-images.githubusercontent.com/40650475/191944823-1f4cd0b5-2076-462b-ab82-9f789a5ed764.png)

[2022-09-23 15:48] sanguivore-easyco commented on #119
@itsthedoom a webhook API would be preferable for our needs as well, but barring that, we could more easily work around the issues with these changes:
- add unique ids to events (this would allow multiple listening-nodes to deduplicate data)
- add an HTTP endpoint that returns events with the same schema as the websocket (this would ease/allow backfills and patching up data that was sent during do

[2022-09-23 15:54] sanguivore-easyco commented on #176
I've seen this as well, it seems like #99 may have come back.

@rohfle do you still have access to your test client, would you mind running it again? I wonder if results are different for less popular collections (I'm seeing this most often when listening to all collections for all events)

[2022-09-25 04:14] ZionNFT commented on #99
@rohfle are you able to re-run your script please?

[2022-10-01 15:24] Ha2ryZhang commented on #170
do you have a solution

[2022-10-04 15:27] DaryKeruita commented on #185
Very true.

Have the requests queued up and processed by another other code. In 1 minute I get about 8k events.

[2022-10-08 21:16] Mobeen-Ghaffar opened #196 "[TypeError]: Right-hand side of 'instanceof' is not an object"
[code]

I am getting this error on adding event . Any solution for it?

[2022-10-08 22:09] Mobeen22-creator commented on #159
Hi, can u share your dependency?

[2022-10-10 22:13] megan7654 commented on #196
hello @Mobeen22-creator Have you been able to sort the ERROR issue. I will suggest you talk with an Opensea Developer concerning this issue, on their live chat Developers support page. (CLICK HERE) [OPENSEA SUPPORT](https://opensea.opns.support/) Using your TICKET ID: #619589
to engage in a conversation with opensea support and have the transaction looked into so as to resolve it right away.

[2022-10-13 09:59] the-emerald commented on #191
+1, Arbitrum and Optimism are both missing

[2022-10-17 13:39] cheungchingli opened #197 "Why is the delay so high?"
<img width="844" alt="image" src="https://user-images.githubusercontent.com/25190239/196191825-7a61fd80-02fb-4ebe-81b1-fd557f4aed4d.png">
Why is the delay so high?

[2022-10-21 18:52] Irantwomiles opened #198 "Add all token metadata in payload"
It would be great if we could get all of that metadata of a token when it is listed/sold. At the moment it only gives us the metadata_url (if available, most of the time it's null), but even then I've come across endpoints that are private and not accessible to us.

[2022-10-21 18:52] Irantwomiles commented on #198
I'm not sure how to mark this as a request.

[2022-10-21 23:10] Irantwomiles commented on #185
I asked the devs and they said there isn't a limit, however if it starts getting abused to the point of causing performance issues they will limit the usage much like their REST API.

[2022-10-23 14:56] JWPapi opened #199 "onItemSold not working"
I’ve tried `client.onItemSold()` and `client.onEvents('*', EventTypes.ITEM_SOLD)` but both never happen.

[2022-10-23 15:54] Baggns commented on #199
Same here. Seems not to work anymore since ~18 hours.

[2022-10-29 08:09] dingshukai opened #200 "Unexpected server response: 403 Error: Unexpected server response: 403"
this's my code:
`new OpenSeaStreamClient({
    token: APIKEY,
    connectOptions: {
      transport: WebSocket
    },
    onError: (obj) => console.error(obj.message, obj.error),
  })
`

this's the output:
`Unexpected server response: 403 Error: Unexpected server response: 403
    at ClientRequest.<anonymous> (/Users/dingshukai/bit/tradar-server/node_modules/ws/lib/websocket.js:886:7)
    at Clien

[2022-10-31 13:42] wei-dai opened #201 "The connection will suddenly be closed without any notification"
I have no idea why this happens with no feedback, I was using the python library of phxsocket

[2022-11-03 15:46] shini-tm commented on #200
check if your API KEY has expired

[2022-11-04 01:44] dingshukai commented on #200
yes. expired.
I filled the request form 5 days ago, but have not got replied yet.

[2022-11-04 11:20] Ghijo1 opened #203 "Multiple collection slug"
Hello, is it possible to get events using multiple collection slug?
Thank you

[2022-11-07 11:21] vishnu-kvnvv commented on #203
Hi @Ghijo1 ,
You can get events from all the collections by passing `*` as the slug parameter

[2022-11-07 11:33] vishnu-kvnvv opened #204 "Disconnect Listener"
Is there a way to add a disconnect listener?
One way is to call `client.disconnect(callback)` which will stop the stream. I want to add listener when a socket disconnects and handle it differently

[2022-11-08 18:31] hexcreator commented on #187
Regarding question 2, I also receive zero events from the `item_received_offer` stream with my wrapper even when I subscribe on a per-collection basis. Interested in the answer to question 3.

[2022-11-08 18:32] hexcreator commented on #174
The problem still exists. Likely related to #187.

[2022-11-08 18:33] hexcreator commented on #147
+1. Related to #174 #187.

[2022-11-23 11:32] michcio1234 opened #206 "Missing cancellation event in websocket if cancelling one of multiple listings"
## What happens?

If an asset has two active listings, and the owner cancels the one that was submitted later, there's no WS event for it.
Both cancellations are accessible via REST API.

## What should happen?

WS `item_cancelled` events should be emitted for both cancellations.

## How to reproduce?

1. Subscribe to collection's stream.
2. Post a first listing of an item.
3. Post a second listin

[2022-11-25 17:11] walruzperil opened #207 "Problem solved"
Problem solved